@using OpcUaWebDashboard.Models

@model DashboardModel

@{
    ViewData["Title"] = "Error";
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid browser_error_container">
    <div class="browser_top_container">
        <div class="browser_error_details_line">
        </div>
        <div class="browser_error_disconnect_button">
            <p>
                @using (Html.BeginForm("Index", "Dashboard"))
                {
                    <input class="btn btn-primary btn_browser" type="submit" value="Continue" />
                }
            </p>
        </div>
    </div>
</div>
