
<br />
<p>
    <h2>
        UA Cloud Initiative Collaboration Partners
    </h2>
</p>
<br />
<p>
    <form action="/Dashboard/Display" method="post">
        <img src="~/matrikon.png" width="150"/><input type="submit" name="Matrikon" value="Display"><br /><br />
        <img src="~/mettlertoledo.png" width="150"><input type="submit" name="Mettler Toledo" value="Display"><br /><br />
        <img src="~/siemens.png" width="150"><input type="submit" name="Siemens" value="Display"><br /><br />
        <img src="~/trumpf.jpg" width="150"/><input type="submit" name="Trumpf" value="Display"><br /><br />
    </form>
</p>
