
<br />
<p>
    <h2>
        UA Cloud Initiative Collaboration Partners
    </h2>
</p>
<br />
<p>
    <form action="/Dashboard/Display" method="post">
        <table border="0">
            <tbody>
                <tr>
                    <td style="width:300px;height:100px">
                        <img src="~/Beckhoff_Logo.png" width="150" />
                        <input type="submit" name="Beckhoff" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/KUKA.png" width="150" />
                        <input type="submit" name="KUKA" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/matrikon.png" width="150" />
                        <input type="submit" name="Matrikon" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/mettlertoledo.png" width="150">
                        <input type="submit" name="Mettler Toledo" value="Display">
                    </td>
                </tr>
                <tr>
                    <td style="width:300px;height:100px">
                        <img src="~/phoenix-contact.png" width="150" />
                        <input type="submit" name="Phoenix Contact" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/pilz.jpg" width="150" />
                        <input type="submit" name="Pilz" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/prosys.png" width="150" />
                        <input type="submit" name="Prosys OPC" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/siemens.png" width="150" />
                        <input type="submit" name="Siemens" value="Display">
                    </td>
                </tr>
                <tr>
                    <td style="width:300px;height:100px">
                        <img src="~/trumpf.jpg" width="100" />
                        <input type="submit" name="Trumpf" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/ualogo.png" width="150" />
                        <input type="submit" name="Unified Automation" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/vdw.png" width="150" />
                        <input type="submit" name="VDW" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/wago.jpg" width="150" />
                        <input type="submit" name="Wago" value="Display">
                    </td>
                </tr>
                <tr>
                    <td style="width:300px;height:100px">
                        <img src="~/opcf.jpg" width="150" />
                        <input type="submit" name="OPC Foundation" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/2mag_logo.png" width="150" />
                        <input type="submit" name="2mag" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/Agilent_Logo.png" width="150" />
                        <input type="submit" name="Agilent" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/Byonoy_Logo.png" width="150" />
                        <input type="submit" name="Byonoy" value="Display">
                    </td>
                </tr>
                <tr>
                    <td style="width:300px;height:100px">
                        <img src="~/FHI.png" width="150" />
                        <input type="submit" name="FHI" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/gambica_logo.png" width="150" />
                        <input type="submit" name="Gambica" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/infoteam_2x_4c_rgb_Logo.png" width="150" />
                        <input type="submit" name="Infoteam" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/INTEGRIS LIMS_Logo.png" width="150" />
                        <input type="submit" name="Integris" value="Display">
                    </td>
                </tr>
                <tr>
                    <td style="width:300px;height:100px">
                        <img src="~/JULABO_LOGO_bei_Einsatz_mit_weisem_Hintergrund.png" width="150" />
                        <input type="submit" name="Julabo" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/Logoeslogan.jpg" width="150" />
                        <input type="submit" name="Alresa" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/SPECTARIS_Dachmarke_CMYK.jpg" width="150" />
                        <input type="submit" name="Spectaris" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/amensio.png" width="150" />
                        <input type="submit" name="Amensio" value="Display">
                    </td>
                </tr>
                <tr>
                    <td style="width:300px;height:100px">
                        <img src="~/brand.png" width="100" />
                        <input type="submit" name="Brand" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/essentim.png" width="150" />
                        <input type="submit" name="Essentim" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/labforward.png" width="150" />
                        <input type="submit" name="Labforward" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/inforsht.png" width="150" />
                        <input type="submit" name="InforsHT" value="Display">
                    </td>
                </tr>
                <tr>
                    <td style="width:300px;height:100px">
                        <img src="~/labmas.png" width="150" />
                        <input type="submit" name="Labmas" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/lads.png" width="150" />
                        <input type="submit" name="Lads" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/JAIMA.png" width="150" />
                        <input type="submit" name="Jaima" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/Berthold.jpg" width="150" />
                        <input type="submit" name="Berthold" value="Display">
                    </td>
                </tr>
                <tr>
                    <td style="width:300px;height:100px">
                        <img src="~/Gefran.png" width="150" />
                        <input type="submit" name="Gefran" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/microsoft.png" width="150" />
                        <input type="submit" name="Microsoft" value="Display">
                    </td>
                    <td style="width:300px;height:100px">
                        <img src="~/schneider.png" width="150" />
                        <input type="submit" name="Schneider" value="Display">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</p>
