
<br />
<p>
    <h2>
        UA Cloud Initiative Collaboration Partners
    </h2>
</p>
<br />
<p>
    <form action="/Dashboard/Display" method="post">
        <img src="~/Beckhoff_Logo.png" width="150"/><input type="submit" name="Beckhoff" value="Display"><br /><br />
        <img src="~/KUKA.png" width="150"/><input type="submit" name="KUKA" value="Display"><br /><br />
        <img src="~/matrikon.png" width="150"/><input type="submit" name="Matrikon" value="Display"><br /><br />
        <img src="~/mettlertoledo.png" width="150"><input type="submit" name="Mettler Toledo" value="Display"><br /><br />
        <img src="~/phoenix-contact.png" width="150"/><input type="submit" name="Phoenix Contact" value="Display"><br /><br />
        <img src="~/pilz.jpg" width="150"/><input type="submit" name="Pilz" value="Display"><br /><br />
        <img src="~/prosys.png" width="150"/><input type="submit" name="Prosys OPC" value="Display"><br /><br />
        <img src="~/siemens.png" width="150"><input type="submit" name="Siemens" value="Display"><br /><br />
        <img src="~/trumpf.jpg" width="150"/><input type="submit" name="Trumpf" value="Display"><br /><br />
        <img src="~/ualogo.png" width="150"/><input type="submit" name="Unified Automation" value="Display"><br /><br />
        <img src="~/vdw.png" width="150"/><input type="submit" name="VDW" value="Display"><br /><br />
        <img src="~/wago.jpg" width="150" /><input type="submit" name="Wago" value="Display"><br /><br />
    </form>
</p>
