
@using OpcUaWebDashboard.Properties;

@{
    ViewBag.Title = @Resources.Dashboard;
}

<div class="chart-container" width="600" height="400">
    <canvas id="myChart"></canvas>
</div>


@section scripts {
    <script src="~/lib/Chart.js/chart.js"></script>>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var values = [];
            var labels = [];

            values.length = 100;
            labels.length = 100;

            values.fill(0);
            labels.fill(0);

            var myChart = new Chart(document.getElementById('myChart'),
                {
                    type: 'line',
                    responsive: true,
                    data:
                    {
                        labels: labels,
                        datasets: [{
                             data: values,
                            borderColor: 'rgba(0, 0, 255, 1)',
                            borderWidth: 3
                        }]
                    },
                    options:
                    {
                        scales:
                        {
                            yAxes: [{
                                ticks:
                                {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            // connection to SignalR hub
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/statusHub")
                .configureLogging(signalR.LogLevel.Information)
                .build();

            // create a function that the hub can call back to display messages
            connection.on("addNewMessageToPage", function(label, value) {
                values.push(value);
                values.shift();
                //labels.fill(label);
                myChart.update();
            });

            connection.start();
        });
    </script>
}
